@import '../scss/utility';
@import '../scss/variables';
@import '../scss/colors';

nav {
    margin-top: 5rem;

    $menuItemColor: $gray;
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin-left: auto; margin-right: auto;
        font-size: 2rem;
        font-weight: 300;
        font-family: 'Amatic SC';
        
        li {
            margin-right: 3rem;

            a, a:hover {
                display: inline-block;
                text-decoration: none;
                color: $menuItemColor;
            }

            a {
                @include transition(all .2s ease-in-out);
            }

            a:hover {
                @include transform(scale(1.1));
            }
        }
    }

    .logo {
        display: block;
        margin-left: auto; margin-right: auto;
        width: 430px;
    }

    i.material-icons {
        display: none;
        font-size: 3rem;
        cursor: pointer;
        margin-left: auto; margin-right: auto;
        text-align: center;
        color: $menuItemColor;
    }

    @media screen and (max-width: $mobile-max-width) {
        .logo {
            width: 300px;
        }

        i.material-icons {
            display: block;
        }

        ul {
            flex-direction: column;

            &:not(.visible) {
                display: none;
            }

            li {
                text-align: center;
                margin-bottom: .8em;
            }
        }
    }
} 