<nav>
    <a [routerLink]="['home']"><img class="logo" src="assets/logo.png" alt="lead me to the Rock"></a>
    
    <i class="material-icons" (click)="toggleMenu()" title="Toggle menu">menu</i>
    <ul [class.visible]="menuVisible" (click)="toggleMenu(false)">
        <li><a [routerLink]="['about']">About</a></li>
        <li><a [routerLink]="['faith']">Faith</a></li>
        <li><a href="#">Finances</a></li>
        <li><a href="#">Simple Living</a></li>
        <li><a href="#">Recipes</a></li>
    </ul>
</nav>