<h1>Our Story</h1>

<p>
    We are Cory and Cesilie Huebner. We have been married going on seven years and have three sons.Jaxon, our oldest, is five.
    Levi, our second, is three. Maverick, our baby is nine months old. We live in the St. Louis area where we enjoy Cardinal
    baseball and Imos pizza. During warmer months, we enjoy kayaking and camping. We are lovers of coffee, running, music,
    and homemade pizza. We spend many Friday nights at our house making pizza and watching a movie as a family.
</p>

<p>
    By day, my husband, Cory is a software engineer. Cory grew up in southern Indiana and went to the University of Southern
    Indiana where we met. He grew up attending a Lutheran church. While Cory went through confirmation and attended church
    regularly throughout his upbringing, he never came to have a personal relationship with Jesus. While Cory was in college,
    he began to question the beliefs he had been taught growing up; after struggling to make sense of the claims himself,
    he identified himself as an atheist.
</p>

<p>
    I am a stay at home mom. I enjoy reading and running when I finds some time to myself. I grew up in the St. Louis area and
    attended the University of Southern Indiana where I received my bachelor’s degree in kinesiology and nutrition. Growing
    up, I lived in a Christian household, where my family attended a Southern Baptist church. At nine years old, I came to
    know the Lord and was baptized. In high school, I quickly realized the impossibility of being a Christ-follower and a
    people-pleaser. Decisions I made in high school and college, left me with an inflated pride, a dry spiritual life, a
    distorted sense of reality, and feeling estranged from my heavenly father.
</p>

<p>
    A few months into our dating relationship, I asked Cory, “If I were to ask you if you had a personal relationship with Jesus
    Christ, what would you say?” After some thought, he responded, “no.” This was a pivotal moment in our relationship and
    in each of our lives. I shared with Cory, I could not marry someone who was not a Christian and I wouldn’t date someone
    I could never marry. I told him how much I loved and cared for him and that my prayer is that he would one day commit
    his life to Jesus. Cory shared with me that he too wanted that for his life and humbly admitted he wasn’t to a place
    of belief yet.
</p>

<p>
    Cory committed to go to church with me every Sunday and pursue a relationship with the Lord. I had an incredibly hard time
    turning him down so we continued our dating relationship based on the commitment Cory made. (I figured he either really
    loved me, or he truly wanted to believe.)
</p>
<p>
    Fast forward a few years: Cory and I are married and expecting our first son. Cory no longer identifies himself as an atheist
    but more agnostic. Cory continues to go to church faithfully each Sunday and agrees to become involved in a Life Group
    (a small group of individuals of similar life stages that study the Bible and fellowship together).
</p>
<p>
    Move forward a year and a half: Cory and I are getting ready to have our second son. We were living in a small town in Indiana
    with relatively few church options. It was here, that I developed a spiritual thirst I’ve never experienced before, and
    Cory an indifference I had not seen in him since he began attending church with me. It was during this time, I became
    complacent to miss church and there would be several Sundays each month, where we simply would not go. Some Sundays we
    would stream a service from our previous church or drive an hour to attend there. This over time, was not sustainable
    and the enemy gave me a spirit of complacency to only attend church when I felt like it, which was maybe a few times
    a month. This whole time, I felt the heaviness in my heart that comes from disobedience and unrepented sin. I hungered
    for a more intimate relationship with the Lord, I wanted more. I wanted to lead the life God had intended for me. I desired
    a Spirit-filled life and I felt as if I were in a spiritual desert.
</p>
<p>
    In 2014, shortly after having our second child, Cory and I decided to move to the St. Louis area. Cory accepted a job with
    a company in downtown St. Louis. It was also at this time, we decided I would not go back to work but stay at home with
    the boys. A lot of changes in such a short time did a number on me. I went from being busy and working on things people
    deemed important to being isolated at home with two babies. In conversation, after learning of ‘what I did for a living’
    or lack thereof, people would often smile and nod and then they would move on to the next person in hopes that they would
    have something more interesting to discuss or at least relate to. It was as if my words and how I spent my life each
    day had no value to other adults. I would find myself so eager to have a discussion with another grown-up that I could
    not help myself from chattering away when given the opportunity. I never had the opportunity to talk with big people
    anymore and I missed it. Meanwhile, it felt like those I spoke with were trying to hurry the conversation to conclusion.
    I had never felt more alone and I had never been more accompanied. I began to feel the stigma of being a stay at home
    mom like a punch to the face. Bitterness, jealousy, and resentfulness grew up in my heart and that’s when God decided
    to shake me up.
</p>
<p>
    That year, the Holy Spirit brought a book title to the front of my mind, one I had never read before but gave me the compulsion
    to read it. This book discussed how God views our sin and what he deems sinful. It was as if I had been living in a dusty
    room filled with toxic air and cobwebs and the Holy Spirit busted down the door and turned on the lights. The Lord humbled
    me and I fell to my knees crying and repenting for things I previously overlooked. I often came to the Lord seeking forgiveness
    for visible sins in my life, but the Lord showed me all the internal sins, the conditions of the heart, the cancer that
    was growing in my very soul; He dealt with me while my face was on the ground.
</p>

<p>
    For the first time in a long time, I felt like I could discern the Lord’s voice again. The Holy Spirit was no longer quenched
    by my disobedience and disregard. He had opened my deaf ears and with each conviction, joy rose in my chest and tears
    fled from my eyes. The Lord called me to start each day with gratitude and the way He called me to this was through a
    gratitude journal. The first few times, I wrote I filled a page or two as I began to do it more and more, I was amazed
    at how I never ran out of things to write down and I could write for hours simply listing what God has given me.
</p>
<p>
    As all believers know, the process of sanctification is never finished. The Lord continued to work in my life, working on
    me bit by bit bringing me into closer fellowship with him. During the fall of 2017, I woke up around 4:00 a.m. to feed
    Maverick. Usually, I would lay back down and rest for a while longer but this particular morning, the Holy Spirit was
    stirring my soul. I felt compelled to get up and of all things prayer journal. I do not prayer journal so this was especially
    specific and unusual. I got up and got a notebook and began prayer journaling. As He often does, the Holy Spirit was
    interceding and I spent much of the time praying over my husband, which I often do, but specifically over his salvation.
    I can say that I have prayed over my husband’s salvation regularly for nearly nine years, but this was the first time
    the Holy Spirit woke me up to do it. As I wrote and prayed, I felt the Holy Spirit’s prompting to pray specifically over
    the coming Sunday. I prayed for three hours that morning. I continued to pray throughout that week over many of the subjects
    the Spirit had laid on my heart.
</p>
<p>
    That Sunday, as I entered the sanctuary, I prayed as I often do that the Lord would quieten my mind and heart and tune them
    to Him. As worship music filled the sanctuary, I felt the presence of the Holy Spirit and tears began to flood from my
    eyes. I started praying over my husband and specifically over his salvation. The Holy Spirit prompted me to be specific
    and pray that it would happen today! I began to become more aware of my posture and the way I was holding myself and
    became a little self-conscious. As if He whispered it in my ear, I felt the Spirit of God say, “let my Spirit move through
    you, your husband needs you to be obedient to the Spirit.”
</p>
<p>
    It was that Sunday, Cory made Jesus Lord of his life.
</p>

<h1>About the site</h1>

<p>
    Shortly after Cory became a Christian, we began to think of ways the two of us could be in ministry together. After many
    discussions and prayerful consideration, we decided we would begin this blog. It provided the perfect place for us to
    share what God has done in our life and it allowed us to meet with others far beyond the confines of our geographic location.
</p>
<p>
    We truly feel the body of Christ is in desperate need of revival. The culture we live in today is in constant opposition
    to the gospel and it competes for our attention at every moment. It is so easy to become so bogged down with the demands
    of life, that we become accustomed to living in “survival mode”. Everyday we wake up just trying to get everything done
    and all we can think about are the many things crowding our conscience, our calendars, and our time. Some of those things
    are important and precious. However, it can be all too easy to let things that were never meant to take up immense time
    in our lives to be given a seat they do not deserve. Before you know it, you have so little time and energy to address
    the things that actually matter because you are spread so thin. We hope this blog encourages us to reestablish margin
    in our lives and to allow more room for God. We long to see the body of Christ free from the insignificant busyness that
    our culture deceptively encourages and to reinstitute intentionality. How different would our lives look if we sat down
    and considered what we most value? Would our calendars look differently? How about our checkbook? How would our time
    be spent? What would happen if the people of God were awakened and began to live intentionally in each area of our lives?
    What if we as believers, woke up from the apathetic, lethargic slumber we have been in and began to fight against the
    current of culture? What if we put down our phones and looked our children or spouse in the eyes while they’re speaking
    to us? What if we stopped to encourage that stranger in the supermarket with three unruly children? What if we started
    using social media as a platform for ministry or prayer instead of simply a way to keep in touch. In order to be holy
    and set apart, we have to establish lives that look different from that of the world, lives that emanate Christ. We need
    to prayerfully identify the important in our lives, stand up to the urgent, and remove anything that distracts us or
    keeps us from living the full lives God has called us to lead. Our vision for lead me to the Rock is for it to be a place
    where believers can be encouraged, revived, and refreshed. A place where those seeking the Lord can come and not feel
    intimidated. We want God to use lead me to the Rock to turn hearts back to Him, to edify His church, and to testify His
    good news to the lost.
</p>
<blockquote>
    <span class="bible-verse">
        From the end of the earth will I cry unto thee, when my heart is overwhelmed:
        lead me to the rock that is higher than I.
    </span>
    <br />
    Psalm 61:2 KJV
</blockquote>