<img class="my-picture" src="assets/my-picture.png" />
<p>
    Welcome to <i>lead me to the Rock</i>! We are so excited you’re here! This is our tiny corner of the
    interwebs where we seek to grow in our knowledge and likeness of Christ Jesus.
    Our hope is through sharing what the Lord has taught us and continues to teach us,
    we may be able to lead others into closer fellowship with the Savior.
    We also hope this blog creates a platform for us to meet with and learn from others
    so that we may grow and be edified. <i>Lead me to the Rock’s</i> purpose is to encourage righteous 
    living among the body of Christ, enabling us to be more obedient to the Spirit’s prompting 
    and direction in our lives. Our prayer is that <i>lead me to the Rock</i> will lead to revived lives
    among believers and that many may come to know Jesus as their personal Lord and Savior through
    what God does here. 
</p>
<p>
    We seek to honor God in our daily living by striving to honor Him in every avenue of our lives,
    whether we discuss our finances, our personal testimonies, or sharing ways to simplify our lives
    to allow more room for Him. We are imperfect people pursuing a perfect God. We strive to be mindful
    of His purpose and His will for our lives.
</p>