<img class="my-picture" src="assets/my-picture.png" />
<p>
    Welcome to <i>lead me to the Rock</i>!
    We are so excited you're here! This is our tiny corner of the interwebs
    where we hope to make eternal differences. We aim to grow in our knowledge
    and likeness of Christ Jesus as we seek to honor Him daily by the way we live.
    Here, we talk about family, marriage, finances, faith, and leading
    a simplified life. We long to encourage and build one another
    as imperfect people, while pursuing a perfect and holy God.
</p>