@import './app/scss/variables';
@import './app/scss/colors';

/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Playfair Display', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.app-container {
    position: relative;
    max-width: 70rem;
    margin-right: auto; margin-left: auto;
}

main {
    display: flex;
    flex-direction: row;
    padding-left: 1rem; padding-right: 1rem;

    h1 {
        flex: 0 0 100%;
        font-size: 2.5rem;
        font-weight: 300;
        color: $light-blue;
        font-variant: small-caps;
    }

    section {
        flex: 8;
        margin-right: 3rem;
    }

    aside {
        flex: 2 1;
        margin-top: 1rem;
    }
}

@media screen and (max-width: $mobile-max-width) {
    main {
        flex-direction: column;

        h1 {
            text-align: center;
        }

        section {
            margin-right: 0;
        }
    }
}