@import './app/scss/colors';

/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Playfair Display', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: $light-blue;
    font-variant: small-caps;
}